<form class="{{cssClass}}" autocomplete="off">
    <div class="board-header">
        <h3>
            {{#if data.player1}}
            {{data.player1.name}}
            {{else}}
            ???
            {{/if}} vs. 
            {{#if data.player2}}
            {{data.player2.name}}
            {{else}}
            ???
            {{/if}}
        </h3>
        <div>
            <p>Phase: {{data.phase}}
                {{#if data.subphase}}
                &nbsp;-&nbsp;{{data.subphase}}
                {{/if}}
            </p>
        </div>
    </div>
    <div class="board-body">
        <div class="side-1">
            <h5>Side 1</h5>
            {{#each data.board.side1}}
            <span style="width: 20px; height: 20px;">{{this}}</span>
            {{/each}}
        </div>
        <div class="side-2">
            <h5>Side 2</h5>
            {{#each data.board.side2}}
            <span style="width: 20px; height: 20px;">{{this}}</span>
            {{/each}}
        </div>
        <div class="player-controls">
        {{#unless (eq data.phase PHASE.waitingForPlayers)}}
            {{#if (or (eq data.player1.actorId game.user.character.id) (eq data.player1.isGM game.user.isGM))}}
            <div class="player" data-player="player1">
                Player 1 Controls:
                {{#each data.player1.dice}}
                <button type="button" class="play-dice1-{{@index}}"  style="width: 40px; height: 40px;">{{this.tier}} -> {{this.value}}</span>
                {{/each}}
                {{#unless data.player1.isReady}}
                <button type="button" class="roll-all-dice">Roll All</button>
                {{/unless}}
            </div>
            {{/if}}
            {{#if (or (eq data.player2.actorId game.user.character.id) (eq data.player2.isGM game.user.isGM))}}
            <div class="player" data-player="player2">
                Player 2 Controls:
                {{#each data.player2.dice}}
                <button type="button" class="play-dice2-{{@index}}"  style="width: 40px; height: 40px;">{{this.tier}} -> {{this.value}}</span>
                {{/each}}
                {{#unless data.player2.isReady}}
                <button type="button" class="roll-all-dice">Roll All</button>
                {{/unless}}
            </div>
            {{/if}}
        {{/unless}}
        </div>
    </div>
    <div class="board-footer">
        {{#if game.user.isGM}}
        <button type="button" class="reset-game">Reset Game</button>
        {{/if}}
    </div>
</form>