<form class="{{cssClass}}" autocomplete="off">
    {{!-- HEADER --}}
    <div class="board-header">
        <div class="board-banner">
            <div class="board-banner-left">
                <div>
                    {{#if (and data.player1 data.player1.img)}}
                    <img src="{{data.player1.img}}" alt="Player1">
                    {{else}}
                    <img src="icons/svg/mystery-man-black.svg" alt="Player2">
                    {{/if}}
                </div>
                <div class="board-banner-player">
                    <h4>
                        {{#if data.player1}}
                        {{data.player1.name}}
                        {{else}}
                        ???
                        {{/if}}
                    </h4>
                    <div class="board-player-circles">
                        <div class="board-player-circle 
                            {{#if (isRunning data.board.round1)}}
                            active
                            {{else if (hasFinished data.board.round1)}}
                                {{#if (eq data.board.round1.winner PLAYER.p1)}}
                                won
                                {{else}}
                                lost
                                {{/if}}
                            {{/if}}
                        "></div>
                        <div class="board-player-circle
                            {{#if (isRunning data.board.round2)}}
                            active
                            {{else if (hasFinished data.board.round2)}}
                                {{#if (eq data.board.round2.winner PLAYER.p1)}}
                                won
                                {{else}}
                                lost
                                {{/if}}
                            {{/if}}
                        "></div>
                        <div class="board-player-circle
                            {{#if (isRunning data.board.round3)}}
                            active
                            {{else if (hasFinished data.board.round3)}}
                                {{#if (eq data.board.round3.winner PLAYER.p1)}}
                                won
                                {{else}}
                                lost
                                {{/if}}
                            {{/if}}
                        "></div>
                    </div>
                    <div class="board-player-info">
                        {{#if data.player1}}
                        {{localize "GWENT.Board.dice"}}: {{data.player1.dice.length}}/10
                        {{/if}}
                    </div>
                </div>
            </div>
            <div class="board-banner-center">
                <img src="icons/svg/combat.svg" alt="VS">
                <span class="board-banner-vs">VS</span>
            </div>
            <div class="board-banner-right">
                <div class="board-banner-player">
                    <h4>
                        {{#if data.player2}}
                        {{data.player2.name}}
                        {{else}}
                        ???
                        {{/if}}
                    </h4>
                    <div class="board-player-circles">
                        <div class="board-player-circle
                            {{#if (isRunning data.board.round1)}}
                            active
                            {{else if (hasFinished data.board.round1)}}
                                {{#if (eq data.board.round1.winner PLAYER.p2)}}
                                won
                                {{else}}
                                lost
                                {{/if}}
                            {{/if}}
                        "></div>
                        <div class="board-player-circle
                            {{#if (isRunning data.board.round2)}}
                            active
                            {{else if (hasFinished data.board.round2)}}
                                {{#if (eq data.board.round2.winner PLAYER.p2)}}
                                won
                                {{else}}
                                lost
                                {{/if}}
                            {{/if}}
                        "></div>
                        <div class="board-player-circle
                            {{#if (isRunning data.board.round3)}}
                            active
                            {{else if (hasFinished data.board.round3)}}
                                {{#if (eq data.board.round3.winner PLAYER.p2)}}
                                won
                                {{else}}
                                lost
                                {{/if}}
                            {{/if}}
                        "></div>
                    </div>
                    <div class="board-player-info">
                        {{#if data.player2}}
                        {{localize "GWENT.Board.dice"}}: {{data.player2.dice.length}}/10
                        {{/if}}
                    </div>
                </div>
                <div>
                    {{#if (and data.player2 data.player2.img)}}
                    <img src="{{data.player2.img}}" alt="Player2">
                    {{else}}
                    <img src="icons/svg/mystery-man-black.svg" alt="Player2">
                    {{/if}}
                </div>
            </div>
        </div>
        <div class="board-round-display">
            <div class="board-total-display">
                {{#if (eq data.phase PHASE.startGame)}}
                {{data.board.side1Total}}
                    {{#if data.player1.passed}}
                    &nbsp;({{localize "GWENT.Board.passed"}})
                    {{/if}}
                {{/if}}
            </div>
            <div>
                {{#if data.winner}}
                    {{#if (eq data.winner PLAYER.p1)}}
                        {{#if (amIPlayer1 data)}}
                        {{localize "GWENT.Board.youWon"}}
                        {{else if (amIPlayer2 data)}}
                        {{localize "GWENT.Board.youLost"}}
                        {{else}}
                        {{localize 'GWENT.Board.winner'}}:
                        {{data.player1.name}}
                        {{/if}}
                    {{else}}
                        {{#if (amIPlayer2 data)}}
                        {{localize "GWENT.Board.youWon"}}
                        {{else if (amIPlayer1 data)}}
                        {{localize "GWENT.Board.youLost"}}
                        {{else}}
                        {{localize 'GWENT.Board.winner'}}:
                        {{data.player2.name}}
                        {{/if}}
                    {{/if}}
                {{else if (isRunning data.board.round3)}}
                {{localize "GWENT.Board.round3"}}
                {{else if (isRunning data.board.round2)}}
                {{localize "GWENT.Board.round2"}}
                {{else if (isRunning data.board.round1)}}
                {{localize "GWENT.Board.round1"}}
                {{else if (not (eq data.phase PHASE.startGame))}}
                {{localize (concat "GWENT.Board." data.phase)}}
                {{/if}}
            </div>
            <div class="board-total-display">
                {{#if (eq data.phase PHASE.startGame)}}
                {{data.board.side2Total}}
                    {{#if data.player2.passed}}
                    &nbsp;({{localize "GWENT.Board.passed"}})
                    {{/if}}
                {{/if}}
            </div>
        </div>
    </div>

    {{!-- BODY --}}
    <div class="board-body">
        <div class="board-field">
            {{!-- Player 1 (Left Side) --}}
            <div>
                {{#each data.board.side1}}
                <div class="gwent-die">
                    <div class="tier">{{tier}}</div>
                    <div class="value">{{value}}</div>
                </div>
                {{/each}}
            </div>
            {{!-- Player 2 (Right Side) --}}
            <div>
                {{#each data.board.side2}}
                <div class="gwent-die">
                    <div class="tier">{{tier}}</div>
                    <div class="value">{{value}}</div>
                </div>
                {{/each}}
            </div>
        </div>

        {{!-- Status Display --}}
        <div class="status-display {{#if (amIPlayer1 data)}}player-1{{else if (amIPlayer2 data)}}player-2{{/if}}">
            {{#if (eq data.phase PHASE.startGame)}}
                {{#if (isMyTurn data)}}
                {{localize 'GWENT.Board.yourTurn'}}
                {{else if (amISpectator data)}}
                {{localize 'GWENT.Board.onTheMove'}}: {{data.currentPlayer.name}}
                {{else}}
                {{localize 'GWENT.Board.enemyTurn'}}
                {{/if}}
            {{/if}}
        </div>

        {{!-- Player Controls --}}
        {{#if (amIPlayer data)}}
            <div class="player-controls">
            {{#if (or (eq data.phase PHASE.startGame) (eq data.phase PHASE.playersPreparingDice))}}
                {{!-- Player 1 Controls --}}
                {{#if (amIPlayer1 data)}}
                <div class="player" data-player="player1">
                    {{#if (isMyTurn data)}}
                        {{#each data.player1.dice}}
                        {{> "modules/fvtt-gwent/templates/partials/gwent-die.html" die=this player="player1" index=@index cssClass="clickable"}}
                        {{/each}}
                    {{else}}
                        {{#each data.player1.dice}}
                        {{> "modules/fvtt-gwent/templates/partials/gwent-die.html" die=this player="player1" index=@index}}
                        {{/each}}
                    {{/if}}
                    {{#unless data.player1.isReady}}
                    <button type="button" class="roll-all-dice">{{localize "GWENT.Board.rollAll"}}</button>
                    {{/unless}}
                    {{#if (eq data.phase PHASE.startGame)}}
                        <button type="button" class="pass-round" {{#unless (isMyTurn data)}}disabled{{/unless}}>{{localize "GWENT.Board.pass"}}</button>
                    {{/if}}
                </div>
                {{/if}}

                {{!-- Player 2 Controls --}}
                {{#if (amIPlayer2 data)}}
                <div class="player" data-player="player2">
                    {{#if (isMyTurn data)}}
                        {{#each data.player2.dice}}
                        {{> "modules/fvtt-gwent/templates/partials/gwent-die.html" die=this player="player2" index=@index cssClass="clickable"}}
                        {{/each}}
                    {{else}}
                        {{#each data.player2.dice}}
                        {{> "modules/fvtt-gwent/templates/partials/gwent-die.html" die=this player="player2" index=@index}}
                        {{/each}}
                    {{/if}}
                    {{#unless data.player2.isReady}}
                    <button type="button" class="roll-all-dice">{{localize "GWENT.Board.rollAll"}}</button>
                    {{/unless}}
                    {{#if (eq data.phase PHASE.startGame)}}
                        <button type="button" class="pass-round" {{#unless (isMyTurn data)}}disabled{{/unless}}>{{localize "GWENT.Board.pass"}}</button>
                    {{/if}}
                </div>
                {{/if}}
            {{/if}}
            </div>
        {{/if}}
    </div>

    {{!-- FOOTER --}}
    {{#if game.user.isGM}}
    <div class="board-footer">
        <button type="button" class="reset-game">{{localize "GWENT.Board.resetGame"}}</button>
        <button type="button" class="play-again" {{#unless (and data.player1 data.player2)}}disabled{{/unless}}>{{localize "GWENT.Board.playAgain"}}</button>
        <button type="button" class="add-predefined-deck">{{localize "GWENT.Board.addPredefinedDeck"}}</button>
    </div>
    {{/if}}
</form>