/* HEADER */
.board-phase {
    display: block;
    font-size: 16px;
    line-height: 22px;
    margin: 0 0 10px 0;
    color: lightslategray;
}

.board-banner {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    column-gap: 15px;
    background: goldenrod;
    padding: 5px;
}

.board-banner > div {
    height: 100px;
}

.board-banner img {
    height: 100px;
    width: 100px;
    min-width: 100px;
    border: 2px solid black;
    box-sizing: border-box;
}

.board-banner-left {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    width: 100%;
}

.board-banner-left .board-banner-player {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    row-gap: 5px;
}

.board-banner-right {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 10px;
    width: 100%;
}

.board-banner-right .board-banner-player {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    row-gap: 5px;
}

.board-player-circles {
    display: flex;
    column-gap: 5px;
}

.board-player-circle {
    width: 25px;
    height: 25px;
    border-radius: 25px;
    border: 2px solid black;
    background: white;
    box-sizing: border-box;
}

.board-player-circle.active {
    background: lightblue;
}

.board-player-circle.won {
    background: green;
}

.board-player-circle.lost {
    background: red;
}

.board-banner-player h4 {
    display: inline-block;
    margin: 0;
    padding: 0;
    font-size: 25px;
    color: black;
}

.board-banner-center {
    display: grid;
    position: relative;
    width: 100px;
    height: 100px;
    min-width: 100px;
}

.board-banner-center > * {
    position: absolute;
    place-self: center;
}

.board-banner-center img {
    width: 100%;
    height: 100%;
    border: none;
}

.board-banner-center .board-banner-vs {
    font-size: 25px;
    transform: translate(1px, 7px);
}

.board-round-display {
    display: flex;
    justify-content: center;
    font-size: 20px;
    line-height: 30px;
    color: white;
    width: 100%;
    background: lightslategray;
}

/* BODY */
.board-body {
    /* height: 400px; */
}

.board-field {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 165px;
    border-bottom: 1px solid black;
}

.board-field > div:first-child {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 5px;
    border-right: 1px solid black;
    width: 100%;
    height: 100%;
    background: lightslategray;
    padding: 20px;
}

.board-field > div:last-child {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 5px;
    border-left: 1px solid black;
    width: 100%;
    height: 100%;
    background: lightslategray;
    padding: 20px;
}

.player-controls {
    background: lightgray;
    width: 100%;
    padding: 0 10px 5px 10px;
}

.player-controls .player {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 5px;
    width: 100%;
}

.player-controls .player button {
    position: absolute;
    right: 5px;
    width: fit-content;
}

/* Status Display */
.status-display {
    display: flex;
    background: lightgray;
    justify-content: center;
    align-items: flex-end;
    font-size: 16px;
    line-height: 22px;
    height: 30px;
    color: black;
}

/* FOOTER */
.board-footer {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 50px;
}

.board-footer > button {
    max-width: 200px;
}

/* GWENT DIE */
.gwent-die {
    width: 45px;
    height: 60px;
    display: grid;
    grid-template-rows: 20px 40px;
    background: white;
    border-radius: 5px;
    transition: all .1s linear;
}

.clickable {
    cursor: pointer;
}

.gwent-die.clickable:hover {
    transform: translateY(-5px);
    box-shadow: 2px 5px 4px;
}

.gwent-die > div {
    width: 100%;
    height: 100%;
}

.gwent-die .tier {
    background: black;
    color: white;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px 5px 0 0;
}

.gwent-die .value {
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}
